@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: 'bright';
  src: url('/fonts/Bright.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* class khusus untuk elemen tertentu */
.use-bright {
  font-family: 'bright', sans-serif;
}

@keyframes slide-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}